body {
    display: grid;
    place-content: center;

    margin: 0;
    height: 100vh;

    font-family: 'Nunito', sans-serif;
}

.board {
    display: grid;
    grid: repeat(var(--rows), 100px) / repeat(var(--columns), 100px);
}

.board div {
    display: grid;
    place-content: center;
    border: 5px solid white;

    font-size: 50px;

    background: red;

    cursor: pointer;
}

.game-info{   
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    
    font-weight: 700;
    font-size: 20px;
}

.game-info p {
    margin: 0;
}